<h1>Welcome to Reservester!</h1>
<p>This app is really going to do something one day.</p>
<p>Please <%= link_to "login", "../b_users/sign_up" %> to book a table.</p>
<p>Or, look at this fake list of restaurants <%= link_to "here", "../restaurants" %></p>

