// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {  
top: 0;
bottom: 0;
margin: auto;
position: absolute;
left: 0;
right: 0;
width: 100vw;
height: 100px;
background-color: #eaeaea;
border-bottom-style: solid;
border-bottom-color: #FFF;
border-top-style: solid;
border-top-color: #FFF;
border-top-width: thin;
}  
 
body{
 background-color: #FFFFE0;
}

a:link { 
  color: #b8b8b8;
  font-family: helvetica;
  text-transform: uppercase;
}
a:visited { 
  color: #D3D3D3;
    font-family: helvetica;
    text-transform: uppercase;
}
a:hover { 
  color: #000;
    font-family: helvetica;
    text-transform: uppercase;
    
}
a:active { 
  color: #D3D3D3;
    font-family: helvetica;
    text-transform: uppercase;
}
